<nb-chat *ngIf="currentKey != null" [title]="currentKey">
    <nb-chat-message *ngFor="let msg of messages[currentKey] || []"
                      [date]="msg.date"
                      [sender]="msg.author"
                      [message]="msg.content"
                      [reply]="session.username != msg.author">

    </nb-chat-message>
</nb-chat>
