<div class="row">
<div class="col-4">
    <nb-list>
        <nb-list-item *ngFor="let user of users" class="clickable"
                      (click)="change(user)">
            {{ user }}
        </nb-list-item>
    </nb-list>
</div>
<div class="col-8">
    <app-discussion [username]="currentUser"></app-discussion>
    <textarea nbInput fullWidth [(ngModel)]="content"></textarea>
    <button nbButton status="success" fullWidth
            [disabled]="!content || !currentUser"
            (click)=send()>SEND</button>
</div>
</div>