<nb-layout>

  <nb-layout-header>
    Mon Super Chat
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    &copy; BStorm - 2019
  </nb-layout-footer>

</nb-layout>
