<nb-card>
    <nb-card-header>
        Login
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input nbInput type="text" formControlName="Username">
            </div>
            <div class="form-group">
                <input nbInput type="password" formControlName="Password">
            </div>
            <div class="form-group">
                <button nbButton status="danger" outline
                        [disabled]="!fg.valid">LOGIN</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
